.inspiration_wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 7%;
}
.overskrift_inspiration {
  font-family: "Six Caps", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
}
.overskrift_breadtxt_inspiration {
  font-size: 3cqw;
  padding-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
}
.breadtxt_inspiration {
  margin-right: 5%;
  margin-left: 5%;
}

.container1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.tre_billeder_inspiration1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  width: 100%;
}
.tre_billeder_inspiration2 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
  width: 100%;
}
.tre_billeder_inspiration3 {
  grid-row: 2 / span 1;
  grid-column: 5 / span 2;
  width: 100%;
}
.krukker {
  padding-top: 2%;
}

.astasover {
  padding-top: 7%;
}
.fed_skrift_stue_inspi {
  padding-top: 2%;
  font-weight: 1000;

  text-transform: uppercase;
}

.smaa_tekster {
  opacity: 80%;
}
img {
  width: 100%;
}
p {
  font-size: 1.1cqw;
}
.und {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
}

@media (max-width: 800px) {
  .overskrift_inspiration {
    font-family: "Six Caps", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 13cqw;
    padding-bottom: 10%;
  }
  .overskrift_breadtxt_inspiration {
    font-size: 9cqw;
    padding-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .breadtxt_inspiration {
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 3%;
    font-size: 4cqw;
  }
  .container1 {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .inspiration_wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 7%;
    padding-top: 10%;
  }
  .tre_billeder_inspiration1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
  }
  .tre_billeder_inspiration2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
  }
  .tre_billeder_inspiration3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
  }
  .krukker {
    padding-top: 2%;
  }
  .overskrifter_inspiration_wrapper1 {
    font-size: 9cqw;
    padding-bottom: 5%;
  }
  .astasover {
    padding-top: 7%;
  }
  .fed_skrift_stue_inspi {
    padding-top: 5%;
    font-weight: 1000;
    font-size: 4cqw;
    text-transform: uppercase;
  }

  .smaa_tekster {
    opacity: 80%;
    font-size: 4cqw;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 1.1cqw;
  }
  .und {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 90%;
    margin-top: 7%;
  }
}
