label,
input,
textarea,
select,
button {
  display: block;
}
.kontaktbillede img {
  rotate: 90deg;
  width: 100%;
}
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  margin-top: 10%;
}
.forms {
  width: 100%;
}
