label,
input,
textarea,
select,
button {
  display: block;
}
.kontaktbillede img {
  display: block;
  align-self: center;
  rotate: 90deg;
  width: 100%;
  margin-top: 28%;
  scale: 85%;
}
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.forms {
  width: 100%;
  margin-top: 5%;
}
p {
  margin-bottom: 5%;
}
h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
button {
  background-color: #4a484b;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: #4a484b;
  margin-top: 2%;
  font-family: "Caudex", serif;
  border-radius: 2px;
}
label {
  font-family: "Caudex", serif;
  color: #40211a;
}
.input2 {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
  border: 0.5px solid #40211a;
  border-radius: 2px;
}
textarea {
  box-sizing: border-box;
  border: 0.5px solid #40211a;
}
.kontaktinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.billede {
  scale: 20%;
}
