label,
input,
textarea,
select,
button {
  display: block;
}
.kontaktbillede img {
  display: block;
  align-self: center;
  width: 100%;
  scale: 85%;
  margin-top: 5%;
}
@media (min-width: 800px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.form1,
.form2,
.form3,
.form4 {
  margin-bottom: 2%;
}
.forms {
  width: 100%;
  margin-top: 5%;
}
p {
  margin-bottom: 5%;
}
h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
h2 {
  text-align: center;
  padding: 3%;
}
button {
  background-color: #4a484b;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: #4a484b;
  margin-top: 2%;
  font-family: "Caudex", serif;
  border-radius: 2px;
}
label {
  font-family: "Caudex", serif;
  color: #40211a;
  margin-left: 1%;
}
.input2 {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
  border: 0.5px solid #40211a;
  border-radius: 2px;
  width: 70%;
}
textarea {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
  border: 0.5px solid #40211a;
  border-radius: 2px;
  width: 70%;
}
.kontaktinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}
.kontaktinfo p {
  text-align: center;
}
.kontaktinfo h2 {
  font-family: "Caudex", serif;
  text-transform: uppercase;
}
.instagram_tekst {
  margin-bottom: 0;
}
.billede img {
  height: 60px;
}
@media (max-width: 800px) {
  .kontaktbillede img {
    display: none;
  }
  .kontaktinfo {
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
}
