.om_os_wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.overskrift_om_os {
  font-family: "Six Caps", sans-serif;
  font-size: 13cqw;
  padding-top: 3%;
  padding-left: 33%;
  grid-row: 1;
  grid-column: 2 / span 2;
}
.hero_billede_video {
  grid-row: 2 / span 4;
  grid-column: 1 / span 4;
}

img {
  width: 100%;
}
