.om_os_wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.overskrift_om_os {
  font-family: "Six Caps", sans-serif;
  text-align: center;
  grid-row: 1;
  grid-column: 2 / span 2;
}
.hero_video_om_os {
  grid-row: 2 / span 4;
  grid-column: 1 / span 4;
}
#minVideo {
  width: 100vw; /* 100% af viewportens bredde */
  height: 50vh; /* 100% af viewportens højde */
  object-fit: cover;
}

.om_os_wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.hvem_er_vi {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  text-align: center;
  padding-top: 10%;
  font-size: 5cqw;
}
.hvem_er_vi_breadtxt {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  padding-top: 40%;
}
.hvem_er_vi_billede {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
  display: block;
  margin-left: auto;
  padding-top: 40%;
}
.om_os_wrapper3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.hvem_er_vi_breadtxt2 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
  padding-top: 9%;
  margin-left: 9%;
}
.hvem_er_vi_billede2 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  width: 100%;

  padding-top: 10%;
}
.om_os_wrapper4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 5%;
}
.hvem_er_vi_breadtxt3 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.hvem_er_vi_billede3 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
  width: 100%;
  display: block;
  padding-left: 9%;
}

.instagram_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding-top: 5%;
  margin: 10px;
}
.insta_billede1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
.insta_billede1 a,
.insta_billede1 img {
  position: absolute;
  z-index: 2;
}
.insta_billede1 img.under_billede1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede2 {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  padding-bottom: 100%;
}
.insta_billede2 a,
.insta_billede2 img {
  position: absolute;
  z-index: 2;
}
.insta_billede2 img.under_billede2 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede3 {
  grid-column: 3;
  grid-row: 1;
  position: relative;
}
.insta_billede3 a,
.insta_billede3 img {
  position: absolute;
  z-index: 2;
}
.insta_billede3 img.under_billede3 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede4 {
  grid-column: 4;
  grid-row: 1;
  position: relative;
}
.insta_billede4 a,
.insta_billede4 img {
  position: absolute;
  z-index: 2;
}
.insta_billede4 img.under_billede4 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede5 {
  grid-column: 5;
  grid-row: 1;
  position: relative;
}
.insta_billede5 a,
.insta_billede5 img {
  position: absolute;
  z-index: 2;
}
.insta_billede5 img.under_billede5 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede6 {
  grid-column: 6;
  grid-row: 1;
  position: relative;
}
.insta_billede6 a,
.insta_billede6 img {
  position: absolute;
  z-index: 2;
}
.insta_billede6 img.under_billede6 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede7 {
  grid-column: 1;
  grid-row: 2;
  position: relative;
}
.insta_billede7 a,
.insta_billede7 img {
  position: absolute;
  z-index: 2;
}
.insta_billede7 img.under_billede7 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede8 {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}
.insta_billede8 a,
.insta_billede8 img {
  position: absolute;
  z-index: 2;
}
.insta_billede8 img.under_billede8 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede9 {
  grid-column: 3;
  grid-row: 2;
  position: relative;
}
.insta_billede9 a,
.insta_billede9 img {
  position: absolute;
  z-index: 2;
}
.insta_billede9 img.under_billede9 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede10 {
  grid-column: 4;
  grid-row: 2;
  position: relative;
}
.insta_billede10 a,
.insta_billede10 img {
  position: absolute;
  z-index: 2;
}
.insta_billede10 img.under_billede10 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede11 {
  grid-column: 5;
  grid-row: 2;
  position: relative;
}
.insta_billede11 a,
.insta_billede11 img {
  position: absolute;
  z-index: 2;
}
.insta_billede11 img.under_billede11 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.insta_billede12 {
  grid-column: 6;
  grid-row: 2;
  position: relative;
}
.insta_billede12 a,
.insta_billede12 img {
  position: absolute;
  z-index: 4;
}
.insta_billede12 img.under_billede12 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.insta_overlay {
  opacity: 0;
}
.insta_overlay:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

@media (max-width: 800px) {
  .om_os_wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .overskrift_om_os {
    font-family: "Six Caps", sans-serif;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 20cqw;
  }
  .hero_video_om_os {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
  }
  #minVideo {
    width: 100vw;
    height: 34vh;
    object-fit: revert;
    margin: 0%;
    padding: 0%;
    max-width: 800px;
  }

  .om_os_wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .hvem_er_vi {
    grid-row: 1;
    grid-column: 1 / span 3;
    text-align: center;
    padding-top: 10%;
    font-size: 11cqw;
  }
  .hvem_er_vi_breadtxt {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
  }
  .hvem_er_vi_billede {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    display: block;
    margin-left: auto;
    padding-top: 14%;
  }
  .om_os_wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25%;
  }
  .hvem_er_vi_breadtxt2 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    margin-left: 0%;
  }
  .hvem_er_vi_billede2 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
  }
  .om_os_wrapper4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 5%;
  }
  .hvem_er_vi_breadtxt3 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
  }
  .hvem_er_vi_billede3 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
    padding-left: 0%;
    padding-top: 3%;
  }

  .instagram_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding-left: 6%;
  }
  .insta_billede1 {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }
  .insta_billede1 a,
  .insta_billede1 img {
    position: absolute;
    z-index: 2;
  }
  .insta_billede1 img.under_billede1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .insta_billede2 {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    padding-bottom: 100%;
  }
  .insta_billede2 a,
  .insta_billede2 img {
    position: absolute;
    z-index: 2;
  }
  .insta_billede2 img.under_billede2 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .insta_billede3 {
    grid-column: 3;
    grid-row: 1;
    position: relative;
  }
  .insta_billede3 a,
  .insta_billede3 img {
    position: absolute;
    z-index: 2;
  }
  .insta_billede3 img.under_billede3 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .insta_billede4 {
    grid-column: 4;
    grid-row: 1;
    position: relative;
  }
  .insta_billede4 a,
  .insta_billede4 img {
    position: absolute;
    z-index: 2;
  }
  .insta_billede4 img.under_billede4 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .insta_overlay {
    opacity: 0;
  }
  .insta_overlay:hover {
    opacity: 0.7;
  }

  .logo {
    width: 25%;
  }
}
