h1 {
  font-family: "Six Caps", sans-serif;
  text-align: center;
  font-size: 5rem;
  margin-top: 2%;
  color: #40211a;
}

p {
  font-family: "Caudex", serif;
  color: #40211a;
}

#hero_shop img {
  width: 80%;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

/* toitaske---------------------------------------------------------- */
#toitaske_billede1 img,
#toitaske_billede2 img,
#toitaske_billede3 img,
#toitaske_billede4 img,
#toitaske_billede5 img {
  width: 50%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30%;
  cursor: pointer;
}
#toitaske_billede5 {
  margin-top: -9%;
  margin-bottom: 9%;
}

#toi_tekst1,
#toi_tekst2,
#toi_tekst3,
#toi_tekst4,
#toi_tekst5 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 10%;
  font-weight: bold;
}

#toi_titel1,
#toi_titel2,
#toi_titel3,
#toi_titel4,
#toi_titel5 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
}

#grid_toitaske_billeder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5%;
  margin-right: 5;
}

/* fad--------------------------------------------------------------- */
#fad_billede1 img,
#fad_billede2 img,
#fad_billede3 img,
#fad_billede4 img,
#fad_billede5 img {
  width: 50%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  cursor: pointer;
  margin-bottom: 9%;
}
#fad_billede5 {
  width: 84%;
}

#fad_tekst1,
#fad_tekst2,
#fad_tekst3,
#fad_tekst4,
#fad_tekst5 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 10%;
  font-weight: bold;
}

#fad_titel1,
#fad_titel2,
#fad_titel3,
#fad_titel4,
#fad_titel5 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
}

#grid_fad_billeder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5%;
  margin-right: 5;
}

/* pude-------------------------------------------------------------- */
#pude_billede1 img,
#pude_billede2 img,
#pude_billede3 img,
#pude_billede4 img,
#pude_billede5 img {
  width: 50%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  cursor: pointer;
}

#pude_tekst1,
#pude_tekst2,
#pude_tekst3,
#pude_tekst4,
#pude_tekst5 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 10%;
  font-weight: bold;
}

#pude_titel1,
#pude_titel2,
#pude_titel3,
#pude_titel4,
#pude_titel5 {
  display: block;
  margin-left: 10%;
  margin-right: auto;
}

#grid_puder_billeder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5%;
  margin-right: 5;
}

/*mærkater shop--------------------------------------------------------*/
.nyhed_shop {
  background-color: #f2ba56;
  color: white;
  text-transform: uppercase;
  width: 30%;
  font-size: 0.8cqw;
  padding-left: 8px;
  margin-bottom: 12px;
  margin-left: 10%;
}

.udsolgt_shop {
  background-color: #bf506e;
  color: white;
  text-transform: uppercase;
  width: 30%;
  font-size: 0.8cqw;
  padding-left: 8px;
  margin-bottom: 12px;
  margin-left: 10%;
}

.udsalg_shop {
  background-color: #f9ccaf;
  color: white;
  text-transform: uppercase;
  width: 30%;
  font-size: 0.8cqw;
  padding-left: 8px;
  margin-bottom: 12px;
  margin-left: 10%;
}
